venv/
__pycache__/
*.pyc
.env
*.pkl
ml/artifacts/
*.egg-info/
.pytest_cache/
.vscode/s
.venv-linux/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
celerybeat-schedule